{% extends "base.html" %}
{% load static %}


{% block css_file %}
  <link rel="stylesheet" type="text/css" href="{% static "challenges_definition/challenge.css"%}">
  <link rel="stylesheet" type="text/css" href="{% static "challenges_definition/includes/header.css"%}">
{% endblock css_file %}

{% block page_title %}
  {{ month_name|title }} Challenge
{% endblock %}
  
{% block content %}
    {% include "challenges_definition/includes/header.html" %} 
  <h1>{{ month_name|title }} Challenge</h1>
  {% if text is not None %}
    <h2>{{ text }}</h2>
  {% else %}
    <p class="fallback">There is no challenge for this month yet!</p>
  {% endif %}

{% endblock content %}