{% extends "base.html" %}
{% load static %}

{% block page_title %}
  
{% include "challenges_definition/includes/header.html" %} 
{% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{% static "challenges_definition/challenges.css"%}">
<link rel="stylesheet" href="{% static "challenges_definition/includes/header.css"%}">
{% endblock css_file %}

{% block content %}

  <ul>
    {% for month in months %}
      <li><a href="{% url "month-challenge" month %}">{{ month|title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}